# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [40]:
# Add Matplotlib inline magic command
%matplotlib inline

# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# File to Load
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_df = pd.read_csv(city_data_to_load)
ride_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [2]:
# Combine the data into a single dataset
pyber_df = pd.merge(ride_df, city_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14,13.83,5.739411e+12,5,Urban
1,South Michelleport,2019-03-04 18:24,30.24,2.343912e+12,72,Urban
2,Port Samanthamouth,2019-02-24 4:29,33.44,2.005066e+12,57,Urban
3,Rodneyfort,2019-02-10 23:22,23.44,5.149245e+12,34,Urban
4,South Jack,2019-03-06 4:28,34.58,3.908451e+12,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [3]:
#  1. Get the total rides for each city type
rides_by_type = pyber_df.groupby("type").count()["ride_id"]
rides_by_type

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [4]:
# 2. Get the total drivers for each city type
drivers_by_type = city_df.groupby(["type"]).sum()["driver_count"]
drivers_by_type

type
Rural         78
Suburban     490
Urban       2405
Name: driver_count, dtype: int64

In [5]:
#  3. Get the total amount of fares for each city type
fares_by_type = pyber_df.groupby(["type"]).sum()["fare"]
fares_by_type

type
Rural        4327.93
Suburban    19356.33
Urban       39854.38
Name: fare, dtype: float64

In [7]:
#  4. Get the average fare per ride for each city type. 
avg_ride_fare_by_type = fares_by_type/rides_by_type
avg_ride_fare_by_type

type
Rural       34.623440
Suburban    30.970128
Urban       24.525772
dtype: float64

In [8]:
# 5. Get the average fare per driver for each city type. 
avg_driver_fare_by_type = fares_by_type/drivers_by_type
avg_driver_fare_by_type

type
Rural       55.486282
Suburban    39.502714
Urban       16.571468
dtype: float64

In [29]:
#  6. Create a PyBer summary DataFrame. 
pyber_summary_df = pd.DataFrame({"City Type":['Rural', 'Suburban', 'Urban'],
                                 "Total Rides":[125, 625, 1625],
                                 "Total Drivers":[78,490,2405], 
                                 "Total Fares":[4327.93,19356.33,39854.38],
                                 "Average Fare per Ride":[34.623440, 30.970128, 24.525772],
                                 "Average Fare per Driver":[55.486282, 39.502714, 16.571468]
                                 })
# Set index to city type
pyber_summary_df = pyber_summary_df.set_index("City Type")

pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
City Type,,,,,
Rural,125,78,4327.93,34.623440,55.486282
Suburban,625,490,19356.33,30.970128,39.502714
Urban,1625,2405,39854.38,24.525772,16.571468

In [30]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None
pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
Rural,125,78,4327.93,34.623440,55.486282
Suburban,625,490,19356.33,30.970128,39.502714
Urban,1625,2405,39854.38,24.525772,16.571468

In [36]:
# Double check column format types
pyber_summary_df.dtypes

Total Rides                 object
Total Drivers               object
Total Fares                float64
Average Fare per Ride      float64
Average Fare per Driver    float64
dtype: object

In [41]:
# Change all coloumns to correct data type
pyber_summary_df["Total Rides"] = pyber_summary_df["Total Rides"].astype(np.int64)
pyber_summary_df["Total Drivers"] = pyber_summary_df["Total Drivers"].astype(np.int64)

ValueError: invalid literal for int() with base 10: '1,625'

In [ ]:
#  8. Format the columns.

# Total Rides
pyber_summary_df["Total Rides"] = pyber_summary_df["Total Rides"].map('{:,}'.format) 

# Total Drivers
pyber_summary_df["Total Drivers"] = pyber_summary_df["Total Drivers"].map('{:,}'.format)

# Total Fares
pyber_summary_df["Total Fares"] = pyber_summary_df["Total Fares"].map("${:.2f}".format)

# Avg Fare Per Ride
pyber_summary_df["Average Fare per Ride"] = pyber_summary_df["Average Fare per Ride"].map("${:.2f}".format) 

# Avg Fare per Driver
pyber_summary_df["Average Fare per Driver"] = pyber_summary_df["Average Fare per Driver"].map("${:.2f}".format)

pyber_summary_df

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [11]:
# 1. Read the merged DataFrame

In [12]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [13]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [14]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [15]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [16]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [17]:
# 7. Check that the datatype for the index is datetime using df.info()

In [18]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [19]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')